# =========================
# 🔒 Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# 📦 ML Models (IMPORTANT)
# =========================
app/models/
models/

# Model files
*.pkl
*.joblib
*.bin
*.pt
*.pth
*.h5
*.onnx
*.index

# =========================
# 📊 Dataset Files (optional)
# =========================
*.csv
*.json

# =========================
# 📝 Logs
# =========================
*.log

# =========================
# 🧰 IDE Files
# =========================
.vscode/
.idea/

# =========================
# 🖥️ OS Files
# =========================
.DS_Store
Thumbs.db

.git